.DetailCard{
    background-color: white;
    height: 500px;
    width: 600px;
    box-shadow: 10 10 10;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
