.example-spacer {
  flex: 1 1 auto;
}
.navbar{


}
.navItem{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navButton{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
mat-grid-tile {
  background: lightblue;
}
