<div style="height: 400px;">
<mdb-carousel class="carousel slide carousel-fade"  [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100"  style="height: 500px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).webp" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="height: 500px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="height: 500px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).webp" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
</div>

<div  style="height: 30%;"></div>
<h1 class="title1">Découvrir toutes les catégories</h1>
<div  style="height: 10%;"></div>
<div class="row" style="background-color: white; padding: 5%;">

  <div class="col-md-4" >
    <mat-grid-list cols="2" rowHeight="2:1" fl>
      <div>
      <mat-grid-tile>
      <img  src="/assets/images/images.jpg" style="width: 50%;">

    </mat-grid-tile>
    </div>
      <mat-grid-tile><img  src="/assets/images/audio1.png" style="width: 50%;"></mat-grid-tile>
      <mat-grid-tile><img  src="/assets/images/book3.jpg" style="width: 50%;"></mat-grid-tile>
      <mat-grid-tile><img  src="/assets/images/document1.jpg" style="width: 50%;"></mat-grid-tile>
    </mat-grid-list>

  </div>
  <div class="col-md-6" >
    <h2 class="title2"> "" Le numérique au service de la lecture ""</h2>
    <p>    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
    </p>
  </div>
</div>
<div  style="height: 10%;"></div>
<div class="container">
  <h2  class="title1">Les plus Télécharger</h2>
  <div  style="height: 20%;"></div>

<div class="row justify-content-center">


    <div class="card col-md-2 m-2 my-element" animation="fade-in" *ngFor="let livre of listLivre" (click)="detailLivre(livre.idLivre)">
      <img src="{{photo}}{{livre?.idLivre}}" class="card-img-top" alt="image du livre" style="height:200px; width: auto;" >
      <div class="card-body">
        <h6 class="card-title">{{livre.titre}}</h6>
        <p class="card-text">{{livre.format}}</p>

      </div>


    </div>
</div>
</div>
