
.title1{


  text-align: center;

  color: #6A9BFF;
}
.title2{


  text-align: center;
  font-size: 30px;
  line-height: 110%;
  font-weight: 600;
  color: #6A9BFF;
}
.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  background-color: white;
}
.my-element:hover {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.detailStile{
  background-color: white;
}
